<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest">

    <Appenders>
        <Appender type="Console" name="CONSOLE">
            <Layout type="PatternLayout" pattern="Apache Thrift %d{ISO8601}{GMT} [%t] %p - %m%n" />
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>
